@media screen and (max-width: 683px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 45%;
    }

    
    nav ul > * {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    nav li {
        margin: 0;
    }

    nav li:not(.logo-li, .menu){
        display: none;
    }

    nav .logo-li > * {
        margin-right: 4.5rem;
    }

    nav .menu {
        display: flex;
        z-index: 10;
    }

    nav .menu > * {
        box-sizing: content-box;
        padding: 7px;
        margin-left: 4.5rem;
    }

    .menu-toggle {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #24252ae8;
        z-index: 9;
    }
}