@media screen and (max-width: 683px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 370px) {
    html {
        font-size: 35%;
    }
    
    nav li:not(.logo-li){
        display: none;
    }

    nav .logo-li {
        margin: 0;
    }
}