html {
    font-size: 62.5%;
    transition:font-size 0.1s;
    -moz-transition:font-size 0.1s; /* Firefox 4 */
    -webkit-transition:font-size 0.1s; /* Safari and Chrome */
    -o-transition:font-size 0.1s;
}

body {
    background-color: #24252a;
    color: #fdeded;
    font-size: 1.6rem;
}

section.main {
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.main > * {
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
}

header {
    width: 100%;
}

header nav {
    padding-top: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav li {
    flex-basis: 7.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.15rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo-li {
    margin: 0 1rem;
}

nav .logo {
    width: 6.8rem;
    height: 6.8rem;
}

nav .logo g {
    fill: url(#gradient);
}

nav li:not(.logo-li, .menu) {
    margin-top: 1.4rem;
}

nav .menu {
    display: none;
}


section.main main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40%;
}

main > h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    
    background: #e0354f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #61131b 0%, #e0354f 74%);
    ;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #61131b 0%, #e0354f 74%); /* #751822 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .centralizado {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 182, 182);
    width: 50px;
    height: 50px;
} */